{% extends 'base.html' %}

{% block content %}

  <div class="container bg-dark text-white">
    <div class="row">
      <div class="col">
        <img class="m-4" src="../static/images/{{film.imdb}}.jpg" >
      </div>

      <div class="col m-4" bg-primary>
        <h2><strong>{{film.title}}</strong>({{film.year}})</h2>
        <h3>Imdb: {{ film.imdb }}</h3>
        <h3>Puntuacion: {{film.rate}} </h3>
        <h3>Vista general</h3>
        
       <p>Justo penatibus eleifend, congue auctor faucibus, id morbi lectus dis. 
          Dui posuere consectetur, faucibus risus vulputate, adipiscing ut venenatis lectus. 
          Quis posuere metus, dapibus pellentesque eu, vestibulum ante laoreet nulla. 
          Magna quam cras, eget tincidunt eleifend, consequat praesent tortor sagittis. 
          Vitae posuere amet, consectetur vitae imperdiet, etiam proin nulla tempor. </p> 
        {% if (directors is defined) and directors %}
          <h3>Director: {{directors[0].name}} </h3>
        {% endif %}

      </div>
    </div>
  </div>

<!-- *** Reparto *** -->

<h2>Reparto</h2>
  <div class="row row-cols-1 row-cols-md-5 g-5  ms-1">

    {% for actor in actors %}
      <div class="col" style="width: 13rem">
        <div class="card shadow">
        <a href={{ url_for('person_details',id=actor.id)}} >
          <img class="card-img-top" src="../static/images/{{actor.nconst}}.webp" >
        </a>
          <div class="card-body">
            <p class="card-title">
              <strong>{{actor.name}}</strong>
              <strong>{{actor.nconst}}</strong>
            {{actor.characters}}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>



{% endblock %}



